// background-colors
$header-backgr: #ABCDEF;
$main-backgr: #4285B4;
$btn-hover: #fbec5d;
$btn-active: #fffc49;

// text colors
$text-color: #383838;

// screen width
$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;