.wrapper {
  max-width: $content-width;
  padding: 12px;
  margin: 0 auto;
  @include media-tablet {
    max-width: $tablet-width;
  }
  @include media-mobile {
    max-width: $mobile-width;
  }
}